@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

.position-content-tema2-about-us section:nth-child(1) .image {
  background-image: url(https://images.unsplash.com/photo-1463412855783-af97e375664b?iq=100&fm=jpg&w=1000);
}
.position-content-tema2-about-us section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
}
.position-content-tema2-about-us section .stuff {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 70%;
  justify-content: center;
  text-align: center;
  z-index: 998;
  color: #fff;
  margin: 0 auto;
  font-size: 24px;
  position: relative;
  letter-spacing:1px;
}
.position-content-tema2-about-us section .stuff h2 {
  margin: 0px;
}
.position-content-tema2-about-us section .stuff p {
  margin-bottom: 80px;
}
.position-content-tema2-about-us section .stuff a {
  pading:10px;
  font-size:20px;
  width:100px;
  display:contents;
  border-bottom:2px solid #fff;
}
.position-content-tema2-about-us section .stuff hr {
  width:100px;
  background:#fff;
  height: 1px;
  margin: 0 auto;
}
.position-content-tema2-about-us section .stuff a:hover {
  text-decoration:none;
}

.at-twitter {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #f1c40f;
  z-index: 5000;
}
.at-twitter:visited {
  color: #f1c40f;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: underline;
}
