@media (max-width:1400px) {
  .share-button {
    margin:1px;
  }
  .left-footer {
    padding:20px 0;
  }
}
@media only screen and (min-width:1200px){ 
  /**open responsive navbar**/
  .nav-tlp {
    display:block;
  }
  .nav-mobile{
    display:none;
  }
  /**close responsive navbar**/
  
  /**open responsive footer**/
  #view-pc-footer {
    display:block;
  }
  #view-mobile-footer {
    display:none;
  }

  /**close responsive footer**/
 
}
@media (max-width: 1200px){ 
    /**open responsive navbar**/
  .nav-mobile{
    display:none;
  }
  /**close responsive navbar**/
  
     /**open responsive home page**/
  .pos-text-banner h1 {
    font-size:40px;
  }
  .pos-text-banner p {
    font-size:20px;
  }
  .form-head h3 {
    font-size:17px;
  }
  .pos-form {
    padding:25px;
  }
  form .form-group input {
    padding: 5px 15px;
  }
  form .form-group select {
    padding: 5px 15px;
    border-radius: 0;
    height: 33px;
  }
  .navbar-collapse li {
    padding-left: 19px!important;
  }
  
  .pos-cont-testimony .body p {
    font-size:17px;
  }
  .pos-cont-testimony {
    padding: 7px 55px 55px;
  }
  #myCarousel-testimony {
    height: 80%;
  }
  .floating-button {
    margin-bottom: 16px;
  }
  .banner-form-text {
    top: 37%;
  }
  .content-firs .about-us h3 {
    font-size:28px;
  }
  .button-all {
    font-size:19px;
  }
  .card-pro-title .title-pro-unborder {
    font-size:43px;
  }
  .card-pro-title .title-pro-border {
    font-size: 43px;
    margin-top: 12px;
  }
  /**close responsive home page**/
}
@media (max-width: 992px){
  .pos-content-news-default-tema {
    margin: 0 78px;
  }
  .pos-des {
    padding:12px 0;
  }
  .pos-content-news-default-tema {
    width:80%;
    float:left;
    margin: 0 107px;
  }
  .toggle2 {
    width: 60px;
    height: 58px;
    border-radius:35px;
  }
  .toggle2:after {
    width: 60px;
    height: 60px;
    line-height: 63px;
    font-size: 32px;
  }
  .toggle2-input:checked + .toggle2:after, .toggle2-input:checked + .toggle2:before {
    left: 14px;
    top: 27px;
  }
  .navbar-right {
    margin-right:72px;
    display: -webkit-box;
    float:right;
  }
  .post-list .body ul li {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .content-firs-product .product h3 {
    font-size:27px;
  }
  .pos-cont-product {
    padding: 40px 190px;
  }
  .content-firs-product .product h3 {
    margin-bottom:0;
  }
  .pos-form-product {
    width:80%;
  }
  .card-upadte-img .overlay h3 {
    font-size: 24px;
    margin: 0;
  }
   /**open responsive navbar**/
  .icon-electra-for-mobile a .img-mobile {
    width: 63%;
    padding: 8px;
  }
  .toggle1 {
    width: 60px;
    height: 60px;
  }
  .share-button {
    width:58px;
  }
  #toggle_menusv2 {
    width: 32px;
    height: 30px;
    position: absolute;
    right: 24px;
    top: 12px;
  }
  #menu_v2 {
    top: 55px;
    line-height: 60px;
    border:none;
  }
  #menu_v2 ul li a {
    font-size:20px;
  }
  .nav-tlp {
    display:none;
  }
  .nav-mobile{
    display:block;
  }
  .navbar {
    min-height:55px;
  }
  .navbar .icon-menu {
    font-size: 80px;
  }
  /**close responsive navbar**/
  
  /**open responsive home page**/
  .pos-cont-testimony {
    padding: 7px 55px 11px;
  }
  .pos-text-banner {
    width:75%;
  }
  .pos-text-banner h1 {
    font-size:50px;
  }
  .pos-text-banner p {
    font-size:27px;
    line-height:45px;
    text-align:center;
  }
  .form-head h3 {
    font-size:17px;
  }
  .pos-form {
    padding:25px;
  }
  form .form-group input {
    padding: 5px 15px;
  }
  form .form-group select {
    padding: 5px 15px;
    border-radius: 0;
    height: 33px;
  }
  .banner-form-text {
    width:100%;
    display:block;
  }
/*   .banner-form-text .content-left {
    width:50%;
    float:left;
  } */
  .banner-form-text .content-right {
    width:50%;
    float:left;
  }
   .card-pro {
    min-height: 310px;
     padding:40px 25px;
  }
   .size-for-mobile {
    width:50%;
  }
  .our-client-size {
    width:50%;
  }
  .about-pos-cont {
   padding: 65px 80px;
  }
  .about-us a {
    font-size:22px;
  }
  .content-firs .about-us h3 {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
  .card-pro .body-card h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 21px;
  }
  .card-pro .body-card p {
    font-size:15px;
    letter-spacing:1px;
  }
  .card-pro .btn-card-pro {
    font-size:24px;
  }
  .pos-mo-why {
    padding:0;
  }
  .card-pro-why {
    max-height:655px;
    padding: 22px 11px;
  }
  .head-card-why {
    margin-bottom: 21px;
  }
  .card-pro-why .head-card-why img {
    border-radius:130px;
    width:23%;
  }
  .card-pro-why .body-card-why h3 {
    font-size:19px;
  }
  .card-pro-why .body-card-why p {
    font-size:15px;
    line-height:20px;
  }
  .pos-cont-testimony .body {
    width:90%;
  }
  .pos-cont-testimony .body p {
    font-size: 18px;
    line-height: 23px;
  }
  .pos-cont-testimony .foot h4 {
    font-size:25px;
  }
  .pos-cont-testimony .head img {
    width: 134px;
    height: 134px;
  }
  #view-pc-footer {
    display:none;
  }
  #view-mobile-footer {
    display:block;
  }
  .foot-col-size {
    width:100%;
    padding:20px;
  }
  .title-cont-foot {
    font-size:21px;
  }
  .center-footer {
    width:50%;
    float:left;
  }
  .right-footer {
    width:50%;
    float:left;
  }
  .right-foot-center .form-control {
    font-size:18px;
  }
  .right-footer li {
    padding:1px;
  }
  .right-footer li a span {
    padding: 15px 15px;
    font-size: 24px;
  }
  .right-footer li a {
    width: 57px;
    margin-right:17px;
    font-size:40px;
    border-radius:65px;
  }
  .left-footer {
        padding: 0px 40px;
  }
  .left-footer p {
    font-size:19px;
    color:#cacaca;
  }
  .floating-button {
    right:16px;
  }
  .floating-button img {
    width:105px;
  }
  .scrollTop {
    right:25px;
    bottom:15%;
  }
  .scrollTop a img {
    width:57px;
  }
  .content-our-clients .clients img {
    width:45%;
    height:85%;
    padding:15px;
  }
  .header-carousel {
    height: 1125px;
    width: 2006px;
  }
  #myCarousel-testimony {
        margin-top: -3%;
    height: auto;
  }
  .btn-scroll-to-explore {
    display:block;
    bottom:186px;
  }
  .effect-shine:after {
    font-size:15px;
  }
  .btn-scroll-to-explore
  .pos-form-product {
    width:85%;
  }
  .pos-form-product form .form-group input {
    font-size:15px;
  }
  .pos-form-product form .form-group select {
    font-size:30px;
    height:63px;
  } 
  .cont-form {
    padding: 10px 95px;
  }
  .copy {
    padding: 10px 50px;
    margin-bottom:15px;
  }
  .title-all-h2 {
    margin-top:30px;
    font-size:30px;
  }
  .content-our-clients .clients img {
    max-width: 56%;
    max-height: 75%;
  }
  /**close responsive home page**/
  
  
  /**open responsive about us page**/
  .about-for-pc {
    display:none;
  }
  .about-for-mobile {
    display:block;
    overflow:hidden;
  }
  .about-for-mobile .copy {
    height:auto;
    width:100%;
  }
  .pic-about-1 {
    height:100%;
    width:100%;
  }
  .pic-about-2 {
    width:100%;
     height:100%;
  }
  .pic-about-3 {
    width:100%;
     height:100%;
  }
  .pic-about-4 {
    width:100%;
     height:100%;
    
  }
  .about-for-mobile .copy .text-cont h3 {
    font-size:40px;
  } 
  .about-for-mobile .copy .text-cont p {
    font-size:20px;
    letter-spacing:1px;
  } 
  .about-for-mobile .copy .text-cont a{
    font-size:25px;
    display:block;
  }
  /**close responsive about us page**/
  
  /**open responsive product page**/
  .pro-con {
    width:78%;
    margin-top:25px;
  }
  .products-backgroud {
    height:660px;
  }
  .post-list .head h3 {
    font-size:40px;
  }
  .pos-icon-key .head {
    margin:auto;
  }
  .pos-icon-pro {
    width:33%;
    margin:0;
  }
  .flip-container, .front, .back {
    height:340px;
  }
  /**close responsive product page**/
  
  /**open responsive contact us page**/
  #hello_electra .contact {
    padding:10% 0;
    width:80%;
    margin:40px auto 0;
  }
  .contact .content h3 {
    font-size:29px;
    margin-bottom:25px;
  }
  .contact .content h4 {
    font-size:35px;
    margin-bottom:30px;
  }
   .contact .content p {
    font-size:17px;
  }
  #hello_electra .drop_message {
    width:100%;
    padding:10%;
  }
  #hello_electra .drop_message .hello_electra_contact h3 {
    font-size:35px;
    margin-bottom:30px;
  }
   #hello_electra .drop_message .hello_electra_contact .pos-form-contact form .form-group input {
     font-size:17px;
  }
     #hello_electra .drop_message .hello_electra_contact .pos-form-contact form .form-group textarea {
     font-size:17px;
     padding: 3px 15px;
  }
  #hello_electra .drop_message .hello_electra_contact .pos-form-contact form .btn-transparent {
    font-size: 17px;
    padding: 6px 20px;
    border: solid 1px #ddd;
    border-radius: 0;
  }
  #hello_electra .drop_message .hello_electra_contact .pos-form-contact form .form-group label {
    font-size:20px;
    border-bottom:solid 1px #000;
  }
  /**open responsive contact us page**/
  
  /**open responsive news page**/
  .news-backgroud {
    height:1125px;
  }
  .pos-des p {
        font-size: 19px;
    letter-spacing: 1px;
    line-height: 28px;
  }
  .card-upadte-img .overlay {
    opacity:1;
  }
  .card-upadte-img .overlay span {
    font-size:15px;
  }
  .card-upadte-img .overlay p {
    font-size:20px;
  }
  /**open responsive news page**/
  .news-backgroud {
    height:654px;
  }
  #hello_electra .contact {
    width:100%;
    padding:10% 10% 0;
  }
  #hello_electra .contact {
    font-size:20px;
  }
  .navbar-default #menu_v2 ul {
    padding:0;
  }
  .network-list li {
    width:56px;
  }
}
@media (max-width: 768px){
  .pos-des p img {
    height:auto!important;
    width:100%!important;
  }
    .pos-content-news-default-tema {
    margin: 0 78px;
  }
  .pos-text-banner {
    padding:0;
  }
  .pos-cont-product {
    padding: 40px 80px;
  }
  .network-list li {
    width:56px;
  }
  .modal-body table {
    width:100%;
  }
  .pro-con {
   width:70%; 
  }
  .size-for-mobile {
    width:100%;
  }
  .card-pro-why {
    max-height: 658px;
    padding: 58px 35px;
  }
  .center-footer {
    width: 100%;
    float: left;
  }
  #view-mobile-footer {
    width: 80%;
  }
  .scrollTop {
    right: 3%;
  }
}
@media (max-width: 680px){ 
   /**open responsive navbar**/
  .pos-content-news-default-tema {
    margin: 0 64px;
}
  .news-backgroud {
    height: 100%;
}
  .news-backgroud .header-caption {
   height: 100%;
   padding: 253px 90px;
  }
  .news-backgroud h1 {
    font-size: 37px;
  }
  .header-carousel {
    height: 692px;
    width: 1160px;
   }
  .pos-des p {
    line-height: 26px;
  }
     .pos-text-banner {
    width: 100%;
    margin: auto;
    padding: 160px 38px 1000px;
    height: 100%;
  } 
  .pos-text-banner {
    padding:0;
  }
  .nav-tlp {
    display:none;
  }
  .nav-mobile{
    display:block;
  }
  .content-our-clients .clients {
    height: 88px;
  }
  .content-our-clients .clients img {
    max-width: 100%;
    max-height: auto;
    margin: 10px auto;
     padding:0;
  }
  .flip-container, .front, .back {
        height: 386px;
  }
  .card-pro {
    min-height: 355px;
    padding: 40px 25px;
}
  /**close responsive navbar**/
  
}
@media (max-width: 640px){  
    .pos-text-banner {
      padding:0;
    }
  .pos-cont-testimony {
    padding: 7px 0px 11px;
  } 
  .floating-button {
    margin-right: 24px;
  }
  .btn-scroll-to-explore {
    bottom: 158px;
  }
  .carousel-indicators {
    bottom: 23%;
  }
  .pos-text-banner p {
    
  }
  }
@media (max-width: 580px){
 #view-mobile-footer {
    width: 90%;
}
  .right-footer li a span {
    padding: 12px 2px;
    font-size: 19px;
  }
  .right-footer li a {
    width: 46px;
  }
.pos-text-banner {
    width: 100%;
    margin: auto;
    padding: 160px 38px 1000px;
    height: 100%;
}
  .pos-text-banner p {
    line-height: 31px;
  }
  .pos-text-banner {
    width: 100%;
    margin: auto;
    padding: 0px 37px 83px;
    height: 100%;
  }
  .banner-form-text {
    top: 31%;
  }
  .btn-scroll-to-explore {
    bottom: 87px;
  }
  .news-backgroud h1 {
        font-size: 33px;
  }
}
@media (max-width: 480px){
  .news-backgroud .header-caption {
    padding: 247px 9%;
  }
  .pos-content-news-default-tema {
    margin:45px;
  }
   .pos-text-banner {
    width: 100%;
    margin: auto;
    padding: 160px 38px 1000px;
    height: 100%;
  } 
  .about-for-mobile .copy .text-cont a {
    font-size: 16px;
    font-weight:1;
  }
  .banner-form-text-product {
    top: 34%;
  }
  .overlay {
    height:41%;
  }
  .card-upadte-img:hover .overlay  {
    height:41%;
  }
  .des-pos-cont {
    padding:2px 15px 50px;
  }
  .pos-des p {
    line-height:22px;
  }
  .news-backgroud {
    height:580px;
  }
  .card-upadte-img {
    height:50%;
  }
  .post-video {
    width: 416px;
    height: 231px;
  }
  .right-cont .post-img .iphone {
    width:23%;
  }
  .pos-cont-product {
    padding: 40px 30px;
  }
  .post-list .head h3 {
    font-size:30px;
  }
  .content-firs-product .product h3 {
    font-size:20px;
    line-height:25px;
  }
   /**open responsive navbar**/
  #menu_v2 {
    line-height: 44px;
    overflow-y: scroll;
    overflow:hidden;
  }
  .about-for-mobile .copy .text-cont p {
    text-align:justify;
  }
  .copy {
    padding: 25px 50px;
  }
  .pic-about-1 {
    height:50%;
  }
  .pic-about-2 {
    height:50%;
  }
   .pic-about-3 {
    height:50%;
  }
   .pic-about-4 {
    height:50%;
  }
  .cont-form {
    padding: 10px 50px;
  }
  #hello_electra .drop_message .hello_electra_contact h3 {
    font-size: 26px;
  }
  .btn {
        padding: 1px 7px;
  }
  .pos-form-product {
    width:100%;
    padding:0;
  }
  .nav-tlp {
    display:none;
  }
  .nav-mobile{
    display:block;
  }
  .pos-text-banner p {
    line-height:29px;
  }
  .content-our-clients .clients img {
    max-width: 100%;
    max-height: auto;
    margin: 10px auto;
     padding:0;
  }
  .about-pos-cont {
    padding: 26px 34px;
  }
  .content-firs .about-us h3 {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 23px;
  }
  .about-us a {
    font-size:18px;
  }
  .pro-pos-cont {
    padding: 20px 0;
  }
  .card-pro-title .title-pro-unborder {
    font-size: 30px;
  }
  .card-pro-title .title-pro-border {
    font-size: 30px;
    font-weight: 600;
    margin-top: 1px;
  }
  .title-all-h2 {
    font-size:30px;
  }
  .pro-con {
    width:100%;
  }
  .content-our-clients .clients img {
    width: 42%;
    height: 46%;
  }
  .pos-cont-testimony .body {
    margin: 50px auto 30px;
  }
  .pos-cont-testimony .body p {
    font-size: 15px;
    line-height: 21px;
  }
  .pos-cont-testimony {
    padding: 7px 20px 11px;
  }
  .pos-cont-testimony .foot h4 {
    font-size: 16px;
  }
  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    max-width: 70%;
  }
  .banner-form-text {
   top: 0;
  }
  .btn-scroll-to-explore {
    bottom: 120px;
  }
  .network-list li {
    width: 56px;
  }
  .toggle1 {
    width: 62px;
    height: 62px;
  }
  .share-button {
    width: 61px;
    margin: 10px;
  }
  .scrollTop {
    bottom: 13%;
  }
  .carousel-indicators {
    bottom: 22%;
  }
  #view-mobile-footer {
    margin-left: 10px;   
  }
  /**close responsive navbar**/
  .modal-body table tr td .face {
    font-size: 13px;
    padding: 4px 8px;
  }
  .modal-body table tr td .twit {
    font-size: 13px;
    padding: 4px 8px;
  }
  .modal-body table tr td .yout {
    font-size: 13px;
    padding: 4px 8px;
  }
  .modal-body table tr td .what {
    font-size: 13px;
    padding: 4px 8px;
  }
    .modal-body table tr td .link {
    font-size: 13px;
    padding: 4px 8px;
  }
  .modal-body table tr td .goog {
    font-size: 13px;
    padding: 4px 8px;
  }
  .modal-body table tr td .slac {
    font-size: 13px;
    padding: 4px 8px;
  }
  .modal-body table tr td .inst {
    font-size: 13px;
    padding: 4px 8px;
  }
  .right-footer {
    width:100%;
  }
  .about-for-mobile .copy .text-cont h3 {
    font-size:30px;
  }
  .header-carousel {
    height: 780px;
    width: 2222px;
}
}
@media (max-width: 380px){
  .pos-content-news-default-tema {
    margin: 45px 12px;
    width: 94%;
}
}
@media (max-width: 340px){
  .nav-tlp {
    display:none;
  }
  .navbar {
  }
  .right-footer li a {
    width: 42px;
  }
  .right-footer li a span {
    padding: 12px 10px;
    font-size: 16px;
  }
  .foot-col-size {
    padding: 15px 0;
  }
  #view-mobile-footer {
    width:100%;
    margin-left:0;
  }
  .title-cont-foot {
    font-size:17px;
  }
  .center-footer form .form-group input {
    font-size:17px;
  }
  .icon-electra-for-mobile a .img-mobile {
    width: 53%;
    padding: 8px 5px;
  }
  .navbar-default .navbar-right li a {
    font-size: 11px;
    padding: 0 10px;
    margin: 13px 0;
  }
  .nav-mobile{
    display:block;
  }
/*   .header-carousel {
    height: auto;
    width: 1634px;
  } */
  
  .content-our-clients .clients img {
   
  }
  .scrollTop a img {
    width:47px;
  }
  .toggle1 {
    width: 52px;
    height: 52px;
  }
  .floating-button {
    margin-right: 15px;
  }
  .icon-electra-for-mobile {
    top: 4px;
    left: 5px;
  }
  .navbar-default .navbar-right li a {
    margin: 17px 0;
  }
  #toggle_menusv2 {
    width: 28px;
  }
  #toggle_menusv2 div {
    height:4px;
  }
  .pos-text-banner {
    padding: 124px 20px;
  }
}

@media (max-width: 320px){

}