        ul {
            padding: 0px;
            margin: 0px;
        }
        li {
            list-style: none;
        }
        #slidx_menu {
            background-color: rgb(255,255,255,0.8);
        }
        #slidx_menu a {
            padding: 13px 10px;
            color:#000;
            display: block;
            font-weight:bold;
          font-size:17px;
          border-bottom:double;
        }
        #slidx_menu a:hover {
            background-color: rgb(0,0,0,0.6);
            cursor: pointer;
            color:#fff;
        }
        #slidx_button {
            padding: 1px 5px;
            outline:none;
            top:4px;
        }
        #slidx_button:hover {
            cursor: pointer;
        }

.button-menu-mobile-tema2 {
  font-size: 3rem;
  background: none;
  border: none;
}

.rotate {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.icon-rotate {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  display: inline-block;
}
#slidx_button i {
    color: #f9f9f9;
    font-size: 35px;
    border: solid 2px #fff;
    padding: 1px 4px;
    border-radius: 57px;
}

.sub-menu-parent {
  position: relative;
}
.sub-menu {
  visibility: hidden;
  /* hides sub-menu */
  opacity: 0;
  height:0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:visited .sub-menu,
.sub-menu-parent:active .sub-menu {
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  height:44%;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  /* this removes the transition delay so the menu will be visible while the other styles transition */
}

#slidx_menu ul .sub-menu-parent .sub-menu .new-page-title {
  color:#000;
  padding:10px 2px 10px 25px;
}