@media (max-width:1400px) {
  .infopos {
    display:block;
  }
  .infopos-mob {
    display:none;
  }
  #content-for-mobile-choseus-tema2 {
    display:none;
  } 
  #choose-us-content {
    display:block;
  }
    #choose-us-content-for-mob {
    display:hidden;
  }
  .red {
    margin-right: -450px;
  }
}
@media (max-width:1200px) {
    .screen-content1{
       height: 282px;
    top: 50px;
    left: 162px;
    width: 496px;
  }
  .size-for-mobile-tema2 .Text-why-choose-us-tema2 {
    padding: 133px 111px;
  }
  .pos-btn-lang-for-mob {
    height:0!important;
  }
  .products-backgroud .header-caption {
    padding: 289px 20%;
}
@media (max-width:992px) {
  .red {
    margin-right: -313px;
  }
  .screen-content3 {
    width: 13.5%;
  }
  .screen-content1{
    height: 202px;
    top: 43px;
    left: 126px;
    width: 363px;
  }
    .pos-btn-lang-for-mob {
    display:block;
  }
    .size-for-mobile-tema2 .Text-why-choose-us-tema2 {
        padding: 75px 57px;
  }
  .hamburger.is-open {
     right: 311px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 297px;
    z-index:1003;
  }
  .sidebar-nav {
    width: 297px;
  }
  .sidebar-nav li a {
    font-size:20px;
  }
  .navbar-brand .icon-tema2 {
        max-width: 73%;
  }
  .dropdown-menu li a {
    font-size:17px;
  }
  #page-content-wrapper {
    width: 100%;
    background: #ff0000;
    z-index: 1000;
    float: left;
    height: 60px;
    position:fixed;
    background:#db1b26;
  }
  .navbar-brand>img {
    margin-top: -8px;
  }
  .pos-btn-lang-for-mob {
    position:absolute;
    right:50px;
    top:10px;
  }
  .pos-btn-lang-for-mob .navbar-right li a{
    padding:10px;
    background:#fff;
    color:#000;
    padding: 5px 15px!important;
    margin-top:3px;
  }
  .pos-btn-lang-for-mob .navbar-right li a:hover {
    
  }
  .pos-text-banner {
    padding:0;
  }
  .pro-con-tema2 {
    width:100%;
  }
  .our-client-size-tema2 {
    width:22%;
  }
  .header-carousel {
    height: 800px!important;
    width: 2006px;
  }
  .content-1-pro-tema2 .post-list .body ul li {
    font-size: 21px;
    line-height: 22px;
  }
}
@media (max-width:991px) { 
  .contact_tema2 {
    padding: 0;
    width: 50%;
    float: left;
  }
  .drop_message_tema2 {
    background: #fff;
    padding: 0;
    width: 50%;
    float: left;
}
}
@media (max-width:768px) {
  .pos-form-product-tema2 {
    margin:100px 100px 50px;
  }
    .infopos {
    display:none;
  }
    .infopos-mob {
    display:block;
  }
  .contact_tema2 {
    width:100%;
  }
  .drop_message_tema2 {
    width:100%;
  }
  .screen-content1 {
    height: 53%;
    top: 11%;
    left: 20%;
    width: 60%;
}
  .section-1-pro {
    padding: 98px 80px;
  }
  .card-news-tema2 {
    height: 54%;
  }
  .pos-card-tema2-chose .pos-discrp p {
    font-size:20px;
    line-height:22px;
  }
  .hamburger {
    right: 27px;
  }
  .hamburger.is-open {
    right: 298px;
    top: 11px;
  }
  .pos-btn-lang-for-mob {
    right: 3px;
  }
  .pos-btn-lang-for-mob .navbar-right li a {
    padding: 0px 12px!important;
    margin-top: 5px;    
  }
  #page-content-wrapper {
    height: 51px;
  }
  .navbar-brand .icon-tema2 {
    max-width: 60%!important;
    margin-left:0!important;
  }
  .header-carousel {
    height: 100%!important;
    width: 100%px;
  }
  #choose-us-content {
    display:none!important;
  }
  #content-for-mobile-choseus-tema2 {
    display:block!important;
  }
  .banner-form-text {
    top:27%!important;
  }
  .pos-text-banner h1{
    font-size:40px!important;
  }
  .pos-card-tema2-chose .pos-discrp h3 {
    font-size:25px;
  }
  .pos-text-banner p {
    font-size:22px!important;
  }
  .btn-scroll-to-explore {
    bottom: 44px!important;
  }

  .about-pos-cont2 {
    padding: 53px 88px;
    overflow: hidden;
    text-align: center;
    height:68%;
  }
  .about-us a {
    font-size: 19px;
  }
  .card-testimony-tema2 {
    width: 70%;
    float:none;
    margin: 31px auto;
    padding: 15px 20px;
    box-shadow: 4px 7px 14px #f3f3f3;
    text-align: center;
  }
  .our-client-size-tema2 {
    width:29%;
  }
  .card-testimony-tema2 .footer h4 {
    font-size:17px;
  }
  #choose-us-content {
    display:hidden;
  }
  #choose-us-content-for-mob {
    display:block;
  }
  .right-footer li a {
    width:44px!important;
    height:44px;
  }
  .right-footer li a span {
    padding: 13px 12px!important;
    font-size:18px!important;
  }
  .title-cont-foot {
    font-size:16px!important;
    letter-spacing:1px;a
  }
  .left-footer {
        padding: 0px 40px 0 20px!important;
  }
  .left-footer p {
    font-size:14px!important;
  }
  .card-pro-title .title-pro-border {
    font-size:36px!important;
  }
  .content-firs .about-us h3 {
    font-size:23px!important;
  }
  .pos-form-product {
    width:100%!important;
  }

}
@media (max-width:767px) {
  .pos-btn-lang-for-mob {
       top: 3px;
  }
 }
@media (max-width:680px) {
  .card-pro-title .title-pro-unborder {
    font-size:37px!important;
  }
  .title-all-h2-tema2 {
    font-size:37px!important;
  }
  .pos-btn-lang-for-mob .navbar-right li a {
    padding: 1px 11px!important;
  }
  .pos-btn-lang-for-mob {
    top:2px;
    right:14px;
  }
  .navbar-brand .icon-tema2 {
    margin-left:0!important;
  }
  .hamburger {
    right:30px;
  }
  .card-pro-tema2 {
    height:100%!important;
  }
    .pro-con {
    width:100%!important;
  }
   .content-firs .about-us h3 {
    margin-bottom:33px!important;
  }
  .our-client-size-tema2 {
    margin: 16px!important;
    height: 94px!important;
    width:20%!important;
  }
  .position-content-tema2-about-us section .stuff {
    line-height:27px;
  }
  .card-pro {
    border: none;
    min-height: 347px!important;
    max-height: 347px!important;
    margin: 4px 0;
}
  .content-news-tema2 .line {
    height:1px!important;
  }
}
@media (max-width:580px) {
  .card-upadte-tema2 {
    margin:20px 0;
  }
  .infopos-mob .buttonProps-mob .head {
    right:55%;
  }
  .section-1-pro {
    padding: 98px 10px;
}
  .title-all-h2 {
    font-size:28px!important;
  }
  .carousel-indicators {
   bottom: 17%!important;
  }
  .our-client-size-tema2 {
   width: 28%;
  }
  .pos-text-banner p {
    line-height: 28px!important;
    letter-spacing: 1px;
  }
  .content-firs .about-us h3 {
        line-height: 25px!important;
  }

  .content-our-clients .clients {
    margin: 10px!important;
  }
  .card-testimony-tema2 {
    width: 90%!important;
    margin: 60px auto!important;
  }
  .nav01 {
    width: 49%;
    float: left;
  }
  .navbar-brand .icon-tema2 {
    max-width:100%!important;
  }
  .content-news-tema2 {
    margin-top:17%!important;
  }
}
@media (max-width:480px) {
  .title-all-h2 {
    margin-top: 40px;
    font-size: 22px!important;
  }
  .infopos-mob .buttonProps-mob .head a {
    font-size:17px;
  }
  .pos-form-product-tema2 {
    margin:70px 100px 50px;
  }
  .red1 {
    margin-bottom:-142px;
  }
  .post-video {
    width:100%!important;
  }
  .content-1-pro-tema2 .post-list .head h3 {
    font-size:32px;
  }
  .post-img {
    padding:0!important;
  }
  .screen-content1 {
    height: 61%;
    top: 6%;
    left: 18%;
    width: 63%;
  }
  .pos-text-banner h1 {
    font-size:35px!important;
  }
  .pos-text-banner {
        padding: 11px 38px 1000px!important;
  }
  .about-pos-cont2 {
    padding: 50px 48px!important;
  }
  .des-pos-cont {
        padding: 37px 15px 50px!important;
  }
  .content-news-tema2 .head .share-and-title-pos .left ul li a .face {
    padding: 10px 14px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  .content-news-tema2 .head .share-and-title-pos .left ul li a span {
    margin: 0 7px;
  }
  .content-news-tema2 .head .share-and-title-pos .left ul li a .linkdin {
    padding: 10px 11px;
    border: 1px solid #ddd;
    border-radius: 33px;
    font-size: 17px;
  }
  .content-news-tema2 .head .share-and-title-pos .left ul li a .email {
    padding: 10px 11px;
    border: 1px solid #ddd;
    border-radius: 33px;
    font-size: 17px;
  }
  .content-news-tema2 .head .share-and-title-pos .left ul li a .link {
    padding: 10px 11px;
    border: 1px solid #ddd;
    border-radius: 33px;
    font-size: 17px;
  }
  .content-news-tema2 .head .img-pos .img-news {
    height: 68%!important;
  }
  .navbar-brand .icon-tema2 {
    max-width: 77%!important;
  }
  .content-news-tema2 .head .share-and-title-pos .right {
    width:100%!important;
  }
  .content-news-tema2 .head .share-and-title-pos .left {
    width:100%!important;
    text-align:center;
  }
/*   .position-content-tema2-about-us section .image {
    width: 111%!important;
  }
  .position-content-tema2-about-us {
    width:111%;
  }
  .cont-form {
    width:111%;
  } */

}
@media (max-width:380px) {
  .content-news-tema2 {
     margin-top: 19%!important;
  }
  .card-news-tema2 {
    height: 40%;
  }
  .infopos-mob .buttonProps-mob .head {
    right:57%;
  }
  .post-con-image {
    padding:0;
  }
  .screen-content1 {
    height: 61%;
    top: 6%;
    left: 17%;
    width: 66%;
}
}
@media (max-width:320px) {
  
}